#cookies.c-message.c-message--dark.c-message--pill.inline-flex.items-center
  %p We'd like to set cookies, #{link_to "read why", "https://appsignal.com/privacy-policy"}.
  %button#accept_link.c-button.c-button--sm.c-button--white.ml-4 I accept
